# Maven / Java
target/
*.class
*.jar
*.war
*.ear

# IDE-uri
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
*.launch

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/

# VS Code
.vscode/

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# Spring Boot DevTools
spring-boot-devtools.properties

application.properties
application.yml
